<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>

    <!-- // non si vede vue -->
    
    <div id="root">
        <!-- Applicazione vue -->
       
        <div>
            <label for="name">Scrivi il tuo nome</label>
            <input type="text"  id="name" v-model="username">
        </div>

        <div>
            <label for="lastname">Scrivi il tuo cognome</label>
            <input type="text"  id="lastname" v-model="userLastname">
        </div>

        <h3>Ciao {{ username }} {{ userLastname }}</h3>

    </div>

    <!-- // non si vede vue -->


    <script src="js/script.js" type="text/javascript"></script>
</body>
</html>